pipeline/PL_SWITCH_DEMO.json
{
	"name": "PL_SWITCH_DEMO",
	"properties": {
		"activities": [
			{
				"name": "Getfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_file_lookup",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfiles').output.childItems",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type, 'File')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Switch1",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@pipeline().parameters.Flodername",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "RawDataset",
													"activities": [
														{
															"name": "CoptoRawdataset",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "BinarySource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true
																	},
																	"formatSettings": {
																		"type": "BinaryReadSettings"
																	}
																},
																"sink": {
																	"type": "BinarySink",
																	"storeSettings": {
																		"type": "AzureBlobFSWriteSettings"
																	}
																},
																"enableStaging": false
															},
															"inputs": [
																{
																	"referenceName": "DS_SOURCE_FILE_POINTER",
																	"type": "DatasetReference",
																	"parameters": {
																		"SrcFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Target_FILE_POINTER",
																	"type": "DatasetReference",
																	"parameters": {
																		"TrFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"TrfloderName": {
																			"value": "@pipeline().parameters.Flodername",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "DeletefilesRaw",
															"type": "Delete",
															"dependsOn": [
																{
																	"activity": "CoptoRawdataset",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"dataset": {
																	"referenceName": "DS_SOURCE_FILE_POINTER",
																	"type": "DatasetReference",
																	"parameters": {
																		"SrcFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																},
																"enableLogging": false,
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																}
															}
														}
													]
												},
												{
													"value": "StagedDatasets",
													"activities": [
														{
															"name": "Copyintoswitch",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "BinarySource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true
																	},
																	"formatSettings": {
																		"type": "BinaryReadSettings"
																	}
																},
																"sink": {
																	"type": "BinarySink",
																	"storeSettings": {
																		"type": "AzureBlobFSWriteSettings"
																	}
																},
																"enableStaging": false
															},
															"inputs": [
																{
																	"referenceName": "DS_SOURCE_FILE_POINTER",
																	"type": "DatasetReference",
																	"parameters": {
																		"SrcFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Target_FILE_POINTER",
																	"type": "DatasetReference",
																	"parameters": {
																		"TrFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"TrfloderName": {
																			"value": "@pipeline().parameters.Flodername",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "Deletestaged",
															"type": "Delete",
															"dependsOn": [
																{
																	"activity": "Copyintoswitch",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"dataset": {
																	"referenceName": "DS_SOURCE_FILE_POINTER",
																	"type": "DatasetReference",
																	"parameters": {
																		"SrcFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																},
																"enableLogging": false,
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																}
															}
														}
													]
												}
											]
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Flodername": {
				"type": "string",
				"defaultValue": "StagedDatasets"
			}
		},
		"annotations": []
	}
}