rkcloudDatafactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rkcloudDatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_TO_DYNAMIC_LOCATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getfilemetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_file_lookup",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachfile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getfilemetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Getfilemetadata').output.itemName",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Iftypeisfile",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().type, 'File')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copyfiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_SOURCE_FILE_POINTER",
														"type": "DatasetReference",
														"parameters": {
															"SrcFileName": {
																"value": "@item.name()",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Target_FILE_POINTER",
														"type": "DatasetReference",
														"parameters": {
															"TrFileName": {
																"value": "@item.name()",
																"type": "Expression"
															},
															"TrfloderName": {
																"value": "@split(item().name, '.' )[1]",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Deletefiles",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copyfiles",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_SOURCE_FILE_POINTER",
														"type": "DatasetReference",
														"parameters": {
															"SrcFileName": {
																"value": "@item.name()",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_TO_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookinfotable",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT Table_schema, Table_name from information_schema.Tables where Table_Type = 'BASE TABLE';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"source_schema": "\"",
									"sourceTable": "\""
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachtables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookinfotable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookinfotable').output.value",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "Copydata",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_TABLES",
											"type": "DatasetReference",
											"parameters": {
												"source_schema": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												},
												"sourceTable": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_TO_PARQUIET",
											"type": "DatasetReference",
											"parameters": {
												"Targetfilename": {
													"value": "@concat(toLower(item().TABLE_NAME),formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SWITCH_DEMO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getfiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_file_lookup",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachfiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getfiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Getfiles').output.childItems",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().type, 'File')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Switch1",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@pipeline().parameters.Flodername",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "RawDataset",
															"activities": [
																{
																	"name": "CoptoRawdataset",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "BinarySource",
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true
																			},
																			"formatSettings": {
																				"type": "BinaryReadSettings"
																			}
																		},
																		"sink": {
																			"type": "BinarySink",
																			"storeSettings": {
																				"type": "AzureBlobFSWriteSettings"
																			}
																		},
																		"enableStaging": false
																	},
																	"inputs": [
																		{
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SrcFileName": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_Target_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"TrFileName": {
																					"value": "@item().name",
																					"type": "Expression"
																				},
																				"TrfloderName": {
																					"value": "@pipeline().parameters.Flodername",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																},
																{
																	"name": "DeletefilesRaw",
																	"type": "Delete",
																	"dependsOn": [
																		{
																			"activity": "CoptoRawdataset",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SrcFileName": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		},
																		"enableLogging": false,
																		"storeSettings": {
																			"type": "AzureBlobFSReadSettings",
																			"recursive": true,
																			"enablePartitionDiscovery": false
																		}
																	}
																}
															]
														},
														{
															"value": "StagedDatasets",
															"activities": [
																{
																	"name": "Copyintoswitch",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "BinarySource",
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true
																			},
																			"formatSettings": {
																				"type": "BinaryReadSettings"
																			}
																		},
																		"sink": {
																			"type": "BinarySink",
																			"storeSettings": {
																				"type": "AzureBlobFSWriteSettings"
																			}
																		},
																		"enableStaging": false
																	},
																	"inputs": [
																		{
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SrcFileName": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_Target_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"TrFileName": {
																					"value": "@item().name",
																					"type": "Expression"
																				},
																				"TrfloderName": {
																					"value": "@pipeline().parameters.Flodername",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																},
																{
																	"name": "Deletestaged",
																	"type": "Delete",
																	"dependsOn": [
																		{
																			"activity": "Copyintoswitch",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SrcFileName": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		},
																		"enableLogging": false,
																		"storeSettings": {
																			"type": "AzureBlobFSReadSettings",
																			"recursive": true,
																			"enablePartitionDiscovery": false
																		}
																	}
																}
															]
														}
													]
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Flodername": {
						"type": "string",
						"defaultValue": "StagedDatasets"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONPREMES_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IRsqlselfhostedonpremisis",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SCHEMA": {
						"type": "string"
					},
					"TABLE": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SCHEMA",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TABLE",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ONPREMES_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupINFO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ONPREMES_SQLSERVER",
								"type": "DatasetReference",
								"parameters": {
									"SCHEMA": "\"",
									"TABLE": "\""
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupINFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupINFO').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "CopySQLTable",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ONPREMES_SQLSERVER",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												},
												"TABLE": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ONPREMES_TO_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"Floder": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												},
												"filename": {
													"value": "@concat(toLower(item().TABLE_NAME), '_', formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ONPREMES_SQLSERVER')]"
			]
		}
	]
}